body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

.profilecard{
    width: 400px;
    height: 500px;
    background-color: white;
    margin-left: 450px;
    margin-top: 50px;
    border-radius: 20px;
}

.jhonimage{
    width: 150px;
    height: 110px;
    border-radius: 170px;
    margin-left: 130px;
    margin-top: 20px;
}

h2{
    text-align: center;
    margin-top: 20px;
}

h3{
    text-align: center;
    margin-top: 20px;
    color: gainsboro;
}

p{
    margin-left: 50px;
    width: 300px;
    line-height: 20px;
}

.facebooklogo{
    margin-top: 50px;
    margin-left: 80px;
}

.twitterlogo{
    margin-left: 20px;
}

.linkedinlogo{
    margin-left: 20px;
}

.githublogo{
    margin-left: 20px;
}

.connectbutton{
    width: 95%;
    height: 50px;
    background-color: darkblue;
    color: white;
    margin-left: 2.5%;
    margin-top: 50px;
    border: darkblue;
    font-weight: bold;
}